USE [AseguradoraBV]
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_cliente_ById]    Script Date: 01/03/2026 21:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[sp_obtener_cliente_ById]
@IdCliente int
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT * FROM Clientes
	where IdCliente=@IdCliente
END

--exec sp_obtener_cliente_ById 2
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_clientes]    Script Date: 01/03/2026 21:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_obtener_clientes]
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT * FROM Clientes
END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_clientes_ByCedula]    Script Date: 01/03/2026 21:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_obtener_clientes_ByCedula]
@Cedula varchar(10)
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT * FROM Clientes
	where Cedula=@Cedula
END
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_seguro_ByCodigo]    Script Date: 01/03/2026 21:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_obtener_seguro_ByCodigo]
@Codigo varchar(10)
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT * FROM Seguros
	where Codigo LIKE '%'+@Codigo+'%'
END

--- EXEC sp_obtener_seguro_ByCodigo   'SV'
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_seguro_ById]    Script Date: 01/03/2026 21:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_obtener_seguro_ById]
@IdSeguro int
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT * FROM Seguros
	where IdSeguro=@IdSeguro
END

--EXEC sp_obtener_seguro_ById 3
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_seguros]    Script Date: 01/03/2026 21:31:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_obtener_seguros]
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT * FROM Seguros	
END
GO
CREATE PROCEDURE [dbo].[sp_obtener_usuario_ByUsuario]@Usuario varchar(15),@Pass varchar(10)ASBEGIN		SET NOCOUNT ON;	SELECT * FROM Usuarios	where Usuario=@Usuario and Password=@PassENDGO